.nav-bar {
  padding: 5px;
  margin: 10px;
}
 /* Kate section*/


.form-container h3 {
  font-family:'Playfair Display';
  font-weight: bold;
}

.S5partners-header {
  font-family: 'Playfair Display';
  font-weight: bold;
  display:block
}

  .S5partners-header {
  font-family:'Playfair Display';
  font-weight: bold;
}

.partners-container h3 {
  font-family: 'Playfair Display';
  font-weight: bold;
}

.form-container input {
  font-family: 'Roboto';
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;    
  margin-bottom: 5px;
  resize: vertical;
}

.form-container textarea {
  font-family: 'Roboto';
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 12px;
  box-sizing: border-box;
  margin-top: 5px;    
  margin-bottom: 16px;
  resize: vertical;
}

.submit-button {
  color: rgb(64, 224, 208);
  text-align: center;
  position: center;
  background-color: white;
  border: 2px solid rgb(64, 224, 208);
  border-radius: 2px;
  padding: 5px 15px;
  font-family: 'Roboto';
  font-weight: bold;
}

.S5-wrapper {
  display:flex;
  flex-direction:row;
  background-color: white;
  width: 60%;
  margin: auto;
  justify-content: space-between;
}

.form-container,
.partners-container {
  width: 46%;
}

.form-container input,
.form-container textarea {
  width: 100%;
}

/*.S5section-aside {
  display: grid;
  width: 45%;
}*/

.logos-client {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  margin: auto;
  text-align: center;
}

.form-container textarea {
  font-family: 'Roboto';
  color: silver;
  border: 1px solid silver;
  border-radius: 2px;
}

.S5section-aside img {
  width: 50%;
}

/*.S5section-aside img {
  position: static;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/



/* Kate section end */