/* Header */

body {
  font-family: "Times New Roman", Times, serif;
}

*{
  box-sizing: border-box;
}

/* Footer */

footer p{
  color:white;
}

footer {
  background-image: url("design-assets/bgk-footer.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 100px;
}

.footerMain{
  display:flex;
  justify-content:  space-between ;
  

  
}
.footerMainLeft, .footerMainCenter, .footerMainRight {
  flex: 1 1 0px;
  padding: 2%;
    border:green dashed;

}
h4{  border:green dashed;
}
.footerLogoLine{
  display: flex;
  padding: 14% 0 0 0;
}
.tajam {
  background: linear-gradient(
    280deg,
    rgba(96, 85, 136, 1) 0%,
    rgba(16, 168, 171, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1%;
}
.footerMainLeft {
  display:flex; 
 flex-direction: column;  
 justify-content:  space-around;

}
.footerMainRight {
  display:flex; 
 flex-direction: column;  
 justify-content:  flex-start;
}
footer h4, footer p, footer a {
  color: white ;
  text-decoration: none; 
}
.stayInTouchForm{
  display:flex; 
  justify-content:  start ;
  opacity: .8;
  padding: 5% 5% 5% 0;

}

.paperSVG {
  background-color: white;
  padding: 3px 15px 0 15px;
  margin: 0 0 0 3%;
  opacity: .5;
}
.socialmedia{
  display:flex; 
  justify-content:  flex-start ;
  padding: 0 0 0 0;
}
.socialmedia a{
padding: 0 2% 0 0;
}

/* .stayInTouchForm a{
  padding: 5%;
} */
.footerBar a{
  padding: 20px 5px;
}
.contact{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* border:red dashed; */

}
.footerPhone{
  display:flex;
  /* border:green dashed; */
  justify-content: flex-start;
  
}
.phoneImg{
  /* margin: 2%; */
  /* border:red dashed; */
  margin: 2% 0;

}
.phone{
margin: 2% 0 0 5%;
/* border:red dashed; */
white-space: nowrap;



}
.footerAddress{
  display:flex;
  /* border:green dashed; */
  justify-content:  left; 
  align-items: flex-start;
}
.addressLogo{
  /* border:blue dashed; */
  /* height:20px; */
  /* padding:5px; */
  /* border:red solid; */
  display: flex;
  align-items: flex-start; 

}
.letterImg{
  margin: 0;
}
/* .letterImg {
  border:red solid;
} */
.addressRoad{
  margin: 0 5%;
  /* border:red solid; */
  align-self: flex-start;
  /* vertical-align: top; */
  /* display: flex;
  align-content: flex-end;  */
  /* border:red solid; */
}
.addressRoad p{
  margin: 0;
} 
.footerBar {
  display: flex;
  justify-content: start;
  /* border:green dashed; */
}
.footerLow{
  display: flex;
  justify-content: space-between;
  /* border:green dashed; */
}


/* Footer End */

/* Header Section %%%%%%%%%%%%%%%%%%%%%%%%% */

.main-header {
  text-align: center;
  color: white;
}
.nav-list {
  color: white;
  display: flex;

  justify-content: flex-end;
  align-items: center;
}
.nav-item {
  color: white;
  list-style-type: none;
  margin-right: 2rem;
  justify-items: center;
}
.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 15%;
}
.nav-item a:hover {
  color: aqua;
}

.nav-list ul {
  list-style-type: none;
}
.para-header {
  color: white;
  text-align: center;
}
.center-button {
  color: rgb(64, 224, 208);
  text-align: center;
  position: relative;
  background-color: rgb(0, 0, 0, 0);
}
.header-button {
  margin: auto;
  width: 10%;
  border: 2px solid turquoise;
  position: relative;
}



.nav-list,.logo-text {

 list-style-type: none;
 display: flex;
}

.bg-img {
  background-image: url("/design-assets/bgk-header.png");
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Header */
