/* Header */

.header-container {
  background-image: url("design-assets/bgk-header.png");
  background-color: #26244f;
  text-align: center;
  margin-top: 10px;
  height: 550px;
  background-size: cover;
  background-position: 30% 100%;
}

.header-wrapper {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.nav-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  text-transform: uppercase;
}

.header-container .nav {
  display: flex;
  float: right;
}

.header-container .nav ul {
  display: flex;
}

.header-container .nav ul a {
  margin-right: auto;
  border-radius: 3px;
  color: #fff;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.logo {
  display: flex;
  height: 60px;
  letter-spacing: 1px;
  align-items: center;
}

.logo-text {
  margin-left: 10px;
  background: linear-gradient(
    280deg,
    rgba(96, 85, 136, 1) 0%,
    rgba(16, 168, 171, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-wrapper a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

@media (max-width: 768px) {
}

.introduction-text {
  display: flex;
  background-color: #52c3c0;
  height: 2px;
  width: 50px;
  margin: auto;
}

.introduction {
  padding: 50px;
  padding-bottom: 10px;
  align-items: center;
  color: white;
}

.header-button {
  padding: 7px;
  border-color: #52c3c0;
  color: #52c3c0;
  background-color: transparent;
}

.nav-item {
  color: white;
  list-style-type: none;
  margin-right: 2rem;
  justify-items: center;
}
.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 15%;
}
.nav-item a:hover {
  color: aqua;
}

/* Header */
